.layout{
    height: 100%;
    overflow: hidden;
    .columnMenu{
        height: 100%;
        background: #001529;;
        transition: width 0.2s;
        float: left;
    }
    .container{
        background: #f0f2f5;
        height: 100%;
        overflow: hidden;
        .containerHeader{
            height: 50px;
            background: #fff;
            overflow: hidden;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            .header-title{
               display: inline-block;
               font-size: 18px;
               color:#606266;
               margin-left:10px;
            }
        }
        .containerContent{
            height: calc(100% - 70px);
            box-sizing: border-box;
            margin: 10px 10px 10px;
            background: #fff;
            box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
            overflow: auto;
            padding: 10px;
        }
       
    }
}